<!-- <mat-toolbar class="docs-navbar-header" color="primary">
    <span>SMM</span>
    <span class="spacer"></span>

    <div class="user-info">
        <div class="name ms-2">Hi Razz King</div>
        <button mat-raised-button color="accent" class="ms-3">Profile</button>
        <button mat-raised-button color="warn" class="ms-3">Logout</button>
    </div>
  </mat-toolbar> -->

  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>SMM</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon person-icon" aria-label="Example icon-button with person icon">
      <mat-icon>person-icon</mat-icon>
    </button>
    <button mat-raised-button class="ms-3">Logout</button>
  </mat-toolbar>